* {
    font-family: 'Poppins', sans-serif;
}
.banner {
    background-image: url(../web\ images/bg2.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 250px 0;
}

.skillpadding {
    padding: 100px 0;
}